<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WisnuApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wisnu"
        tools:targetApi="31" >
        <activity
            android:name=".ui.profile.trip.detail.TripDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.trip.list.TripListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ticket.detail.TicketDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.detail.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.poi.categories.POICategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.poi.gallery.VRImageViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.poi.gallery.POIGalleryActivity"
            android:exported="false" /> 
        <activity
            android:name=".ui.poi.detail.POIDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AuthActivity"
            android:name=".ui.itinerary.city.CityDetailActivity"
            android:exported="false" />
         <activity
             android:name=".ui.itinerary.ItineraryActivity"
             android:exported="false" />
        <activity
            android:name=".ui.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">

        </activity>
    </application>

</manifest>